
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spese</h2>
<div class="form-group">
    <iframe src="http://cambi.bancaditalia.it/cambi" style="height:400px; width:100%"></iframe>
</div>

