@using System.Globalization;
@model GseWeb.Models.Hours.IHour

@{
    ViewBag.Title = "Hour";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CInfIT = CultureInfo.CreateSpecificCulture("it-IT");
    var DayOfWeek = CInfIT.TextInfo.ToTitleCase(CInfIT.DateTimeFormat.GetDayName(Model.Date.DayOfWeek));
}

<h4>@DayOfWeek - @Model.Date.ToString("dd/MM/yyy")</h4>

@if (Model != null && Model.Results != null)
{
    @Html.Partial("_Edit", Model.Results)
}
else
{
    @Html.Partial("_Create", Model)
}

@if (ViewBag.ReturnUrl == "Report/ReportMonth")
{
    @Html.ActionLink("Torna a mese", "ReportMonth", "Report", new { year = Model.Date.Year, month = Model.Date.Month }, null)
}