<div>
    <table>
        <tr>
            <td>
                <img src="~/Images/LogoVert.png" />
            </td>
            <td>
                <p><strong>G.S.E. Automation S.r.l.</strong></p>
                <p><strong>Sede: </strong>Via Confraternita 26, 10031, Bagnolo P.te (CN)</p>
                <p><strong>U. Operativa: </strong>Str. Europa 44, 10060, Bricherasio (TO)</p>
                <p><strong>Tel/Fax: </strong>0121 032432</p>
                <p><strong>P. Iva: </strong>03565070046</p>
                <p><strong>Email: </strong>amministrazione@gseautomation.it</p>
            </td>
        </tr>
    </table>
</div>
